<span class="content">

	You've been invited to a <b>new debate</b>:<br />
	<div class="notification-core">
		"<%="#{notification_message_tokens[1]}"%>"
	</div>
	<% if notification_message_tokens[2].length > 0 %>
		<%="#{notification_message_tokens[0]}"%>: <%= "#{notification_message_tokens[2]}" %>
	<% else %>
		by <%="#{notification_message_tokens[0]}"%>
	<% end %>
</span>

<div class="timestamp">
	sent <%= time_ago_in_words(notification.created_at) %> ago.
</div>