<%= form_for (@argument) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>	
	<%= f.hidden_field :viewpoint_id, value: @viewpoint.id %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<div class="alert">
		<%= @viewpoint.desc %>
	</div>
	<%= f.label :content, "vote it up or down!" %>
	<%= f.text_area :content, rows: 2 %>
	<div class="field-desc">
	...with your argument in 500 characters or less
	</div>
	<div class="center">
		<%= f.submit 'vote up!', class: "btn btn-large btn-success" %>
		<%= f.submit 'vote down!', class: "btn btn-large btn-danger", confirm: "You have chosen to vote it down!" %>
	</div>

<% end %>
