<div class="section-title">
	<%= @section_title %>
</div>
<ul class="users">
	<% @users.each do |user|  %>
		<li>
			<h2><%= link_to user.name, user %></h2>
			<div class="description">
			<% if current_user.admin? && !current_user?(user) %>
    			<%= link_to "delete", user, method: :delete, confirm: "You sure?" %> | 
    		<% end %>
			
				<%= pluralize(user.debates.size, "conversation")%> | <%= pluralize(user.viewpoints.published.size, "vupnt")%> | <%= pluralize(user.followers.size, "follower")%> 
			</div>
		</li>
	<% end %>
</ul>

<%= will_paginate @users, page_links: false, class: "my_pagination" %>
<%= render 'search_by_name_form' %>
