 <script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'clean'
 };
 </script>

<div class="section-title">sign up</div>

<div class="row-fluid">
  
    <%= form_for(@user) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>	

      	<%= f.label :name, "Your full name" %>
      	<%= f.text_field :name, placeholder: "e.g. John Doe" %>

      	<%= f.label :email %>
      	<%= f.text_field :email, placeholder: "@" %>

      	<%= f.label :password %>
      	<%= f.password_field :password, placeholder: "minimum 6 characters" %>

      	<%= f.label :password_confirmation, "Re-enter password" %>
      	<%= f.password_field :password_confirmation, placeholder: "same as above" %>
        <div class="row-fluid">
        by signing up for <b>vupnt</b>, you confirm your acceptance of the service <b><%= link_to "terms of use", terms_path%></b>
        </div>
        <div class="row-fluid center">
        	<%= f.submit "submit", class: "btn btn-large btn-primary" %>
      	</div>
    
    <% end %>
  
</div>
<div class="row-fluids">
<b>already signed up? <%= link_to "sign in", signin_path %></b>
</div>