<% if @user.email.nil? %>

<div class="content">
Thank you for your interest in vupnt. We are working to get it up and running as soon as possible. In the meantime, if a friend of yours is already on vupnt, ask them to invite you to a debate, and you will be able to sign up.
</div>

<div class="content">
  <h2>already signed up? <%= link_to "sign in here", signin_path %></h2>
</div>

<% else %>

<div class="section-title">sign up</div>

<div class="row-fluid">
  
    <%= form_for(@user) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>	

      	<%= f.label :email %>
        <%= f.email_field :_email, disabled: true, value: @user.email %>

        <%= f.label :name, "Your full name" %>
      	<%= f.text_field :name, placeholder: "e.g. John Doe" %>

      	
      	<%= f.label :password %>
      	<%= f.password_field :password, placeholder: "minimum 6 characters" %>

      	<%= f.label :password_confirmation, "Re-enter password" %>
      	<%= f.password_field :password_confirmation, placeholder: "same as above" %>

        <%= f.hidden_field :email, value: @user.email %>


        <div class="row-fluid">
        by signing up for <b>vupnt</b>, you confirm your acceptance of the service <b><%= link_to "terms of use", terms_path%></b>
        </div>
        <div class="row-fluid center">
        	<%= f.submit "submit", class: "btn btn-large btn-primary" %>
      	</div>
    
    <% end %>
  
</div>
<div class="row-fluids">
<b>already signed up? <%= link_to "sign in", signin_path %></b>
</div>
<% end %>