 <script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'clean'
 };
 </script>
<div class="well">
<div class="section-title">sign up</div>

<div class="row-fluid">
  
    <%= form_for(@user) do |f| %>

    	<%= render 'shared/error_messages', object: f.object %>	

      	<%= f.label :name, "Your full name" %>
      	<%= f.text_field :name, placeholder: "e.g. John Doe" %>

      	<%= f.label :email %>
      	<%= f.text_field :email, placeholder: "@" %>

      	<%= f.label :password %>
      	<%= f.password_field :password, placeholder: "minimum 6 characters" %>

      	<%= f.label :password_confirmation, "Re-enter password" %>
      	<%= f.password_field :password_confirmation, placeholder: "same as above" %>
        <div class="row-fluid center">
          <%= recaptcha_tags %>
        
      		<%= f.submit "submit", class: "btn btn-large btn-primary" %>
      	</div>
    
    <% end %>
  
</div>
</div>