<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <% if current_user?(@user)%>
        <div class="row-fluid">
          <%= link_to image_tag("default_user.png"), '#'%>
        </div>
      <% else %>
        <div class="row-fluid">
          <%= image_tag("default_user.png")%>
        </div>
      <% end %>

      <% if signed_in? %>
        <div class="row-fluid">
          <%= render 'follow_form' %>
        </div>
      <% end %>
    
    </div>
    <div class="span7">
      <div class="row-fluid">
        <h1>
          <%= @user.name.downcase %>
        </h1>
      </div>
      <div class="row-fluid">
        <!-- placeholder for @user.about -->
      </div>
    </div>
  </div>


<div class="row-fluid center">
  <%= render 'shared/stats'%>
</div>




<% if @user.debates.any? %>
  <ol class="debates">
    <%= render @debates %>
  </ol>
  <%= will_paginate @debates, page_links: false, class: "my_pagination" %>
<% end %>


</div>
