<li id="<%= argument_item.id %>">
  <% cache "sha_arg_1-#{argument_item.id}" do %>
    <div class="user">
      <%= link_to argument_item.user.name, argument_item.user %>
    </div>
  <% end %>
  
  <div class="content">

  <% if argument_item.is_up_vote %>
    
    <% cache "sha_arg_2-#{argument_item.id}" do %>
      <div class="win-position">
        <%= argument_item.content %>
      </div>
      <span class="timestamp">
        posted <%= time_ago_in_words(argument_item.created_at) %> ago.
      </span>
    <% end %>

  <% else %>

    <% cache "sha_arg_3-#{argument_item.id}" do %>
      <div class="loss-position">
        <%= argument_item.content %>
      </div>
      <span class="timestamp">
        posted <%= time_ago_in_words(argument_item.created_at) %> ago.
      </span>
    <% end %>

  <% end %>
  
  
  <% if current_user?(argument_item.user) %>
    <% cache "sha_arg_4-#{argument_item.id}" do %>
      <div class="actions">
        <div class="delete">
          <%= link_to "delete", argument_item, method:  :delete,
                                         confirm: "You sure?",
                                          title:   argument_item.content %>
        </div>
      </div>
    <% end %>                                     
  <% end %>
</li>
<br />