<li id="<%= argument_item.id %>">
  <div class="user">
    <%= link_to argument_item.user.name, argument_item.user %>
  </div>
  <div class="content"><%= argument_item.content %></div>
  
  <% if current_user?(argument_item.user) %>
    | <%= link_to "delete", argument_item, method:  :delete,
                                     confirm: "You sure?",
                                     title:   argument_item.content %>
  <% end %>

  <span class="timestamp">
    posted <%= time_ago_in_words(argument_item.created_at) %> ago.
  </span>

</li>