<li id="<%= feed_item.id %>">
  <div class="user">
    <h3><%= link_to feed_item.user.name, feed_item.user %></h3>
  </div>
  <div class="content">
    <%= wrap(feed_item.content) %>
  </div>
  <span class="timestamp">
    updated <%= time_ago_in_words(feed_item.updated_at) %> ago.
  </span>

  <%= render partial: 'shared/win_loss_positions', locals: {debate: feed_item} %>


  <div class="actions">
    <div class="listview">
      <%= link_to pluralize(feed_item.viewpoints.published.size, "vupnt"), debate_path(feed_item.id) %>
    </div>
  
    <% if current_user?(feed_item.user) %>
    <div class="delete">
      <%= link_to "delete debate", feed_item, method:  :delete,
                                     confirm: "You sure?",
                                     title:   feed_item.content %>
    </div>

    <% else %>
    <div class="follow">
      <%= link_to "follow debate", '#' %>
    </div>                                       
    <% end %>

  </div>

</li>
<br />
