<li id="<%= feed_item.id %>">
  <div class="user">
    <h2><%= link_to feed_item.user.name, feed_item.user %></h2>
  </div>
  <div class="content">
    <%= wrap(feed_item.content) %>
  </div>
  <span class="timestamp">
    updated <%= time_ago_in_words(feed_item.updated_at) %> ago.
  </span>

  <%= render partial: 'shared/win_loss_positions', locals: {debate: feed_item} %>


  <div class="row-fluid">
    <div class="actions">
    <div class="listview">
      <%= link_to pluralize(feed_item.viewpoints.published.size, "vupnt"), debate_url(feed_item) %>
    </div>
  
    <% if current_user?(feed_item.user) %>

    <div class="invite">
      <%= link_to "invite a friend", invitation_path(feed_item) %>
    </div>

    <div class="delete">
      <%= link_to "delete", feed_item, method:  :delete,
                                     confirm: "Delete this conversation?",
                                     title:   feed_item.content %>
    </div>

    <% end %>

    </div>
    </div>

</li>

<br />
