<div class="container">
<div class="row-fluid">
<div class="span12 offset1">

<li id="<%= feed_item.id %>">
  <div class="user">
    <h2><%= link_to feed_item.user.name, user_path(feed_item.user) %></h2>
  </div>
  <div class="content">
    <%= wrap(feed_item.content) %>
  </div>
  <span class="timestamp">
    updated <%= time_ago_in_words(feed_item.updated_at) %> ago.
  </span>

  <%= render partial: 'shared/win_loss_positions', locals: {debate: feed_item} %>


  <div class="actions">
    <div class="listview">
      <%= link_to pluralize(feed_item.viewpoints.published.size, "vupnt"), debate_url(feed_item) %>
    </div>
  </div>
</li>

</div>
</div>
</div>