<li id="<%= feed_item.id %>">
  <div class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </div>
  <div class="content"><%= wrap(feed_item.content) %></div>
  
  <%= render partial: 'shared/win_loss_positions', locals: {debate: feed_item} %>

  <%= link_to "vupnts", debate_path(feed_item.id) %>
  
  <% if current_user?(feed_item.user) %>
    | <%= link_to "delete this topic", feed_item, method:  :delete,
                                     confirm: "You sure?",
                                     title:   feed_item.content %>
  <% else %>
    | <%= link_to "follow debate", '#' %>                                       
  <% end %>

  <span class="timestamp">
    updated <%= time_ago_in_words(feed_item.updated_at) %> ago.
  </span>

</li>
