
<li id="<%= feed_item.id %>" style="background:#FFFFCC">
  <h2><%= link_to feed_item.user.name.downcase, user_path(feed_item.user) %></h2>

  <%= render partial: 'shared/debate_content', locals: {debate: feed_item} %>

  <%= render partial: 'shared/win_loss_positions', locals: {debate: feed_item} %>

  <%= render partial: 'shared/debate_item_actions', locals: {
      debate: feed_item, user: feed_item.user
      } %>
</li>

<br />
