
<li id="<%= feed_item.id %>">

  <% cache "sha_fee_ite_1-#{feed_item.id}-#{feed_item.updated_at.to_i}" do %>
    <div class="user">
      <h2><%= link_to feed_item.user.name, feed_item.user %></h2>
    </div>
    <div class="content">
      <%= wrap(feed_item.content) %>
    </div>
    <span class="timestamp">
      updated <%= time_ago_in_words(feed_item.updated_at) %> ago.
    </span>
  <% end %>

  <%= render partial: 'shared/win_loss_positions', locals: {debate: feed_item} %>


  <div class="row-fluid">
  
    <div class="actions">
  
      <div class="listview">
        <% cache "sha_fee_ite_2-#{feed_item.id}-#{feed_item.updated_at.to_i}" do %>
          <%= link_to pluralize(feed_item.viewpoints.published.size, "vupnt"), debate_url(feed_item) %>
        <% end %>
      </div>
  
      <% if current_user?(feed_item.user) %>
        <% cache "sha_fee_ite_3-#{feed_item.id}" do %>
          <div class="invite">
            <%= link_to "invite a friend", invitation_path(feed_item) %>
          </div>

          <div class="delete">
            <%= link_to "delete", feed_item, method:  :delete,
                                       confirm: "Delete this conversation?",
                                       title:   feed_item.content %>
          </div>
        <% end %>

      <% end %>

    </div>
  </div>

</li>

<br />
