
<div class="section-title">
	what's your vupnt?
</div>

<%= form_for(@viewpoint) do |f| %>
  	<%= render 'shared/error_messages', object: f.object %>
    	<%= f.text_field :desc, placeholder: "in 140 characters or less...", rows: 2 %>
 	<%= f.hidden_field :debate_id, value: @debate.id %>
 	<%= f.hidden_field :user_id, value: current_user.id %>
 	
  	<% if @current_user_can_add %>
  	
  		<%= f.hidden_field :published, value: true %>
 		<div class="center">
	  		<%= f.submit "add your vupnt", class: "btn btn-large btn-primary" %>
		</div>
	<% else %>
		<%= f.hidden_field :published, value: false %>
 		<div class="center">
	  		<%= f.submit "suggest", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
<% end %>
