
<%= form_for(@viewpoint) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :desc, placeholder: "add a vupnt...", rows: 2 %>
  </div>
  <%= f.hidden_field :debate_id, value: @debate.id %> 
  <div class="center"><%= f.submit "add a vupnt", class: "btn btn-large btn-primary" %></div>
<% end %>