<li id="<%= viewpoints_item.id %>">
  <!-- link_to viewpoints_item.debate.user.name, viewpoints_item.debate.user -->
  
    <div class="content">
      <%= wrap(viewpoints_item.desc) %>
    </div>
    <% if current_user?(viewpoints_item.debate.user) %>
      <%= link_to image_tag("delete.png"), viewpoints_item, method:  :delete,
                                     confirm: "You sure?",
                                     title:   viewpoints_item.desc %>

    <% end %>


  
  <span class="timestamp">
    updated <%= time_ago_in_words(viewpoints_item.updated_at) %> ago.
  </span>

  <div class="actions">
    <%= link_to "vote it up!", new_argument_path(viewpoint: viewpoints_item, is_up_vote: true) %> | <%= link_to "vote it down!", new_argument_path(viewpoint: viewpoints_item) %> | <%= link_to "arguments", arguments_path(viewpoint: viewpoints_item) %>
  </div>

  

</li>