  <li id="<%= viewpoints_item.id %>">
      <div class="user">
        <h2><%=link_to viewpoints_item.user.name, viewpoints_item.user %></h2>
      </div>
      <div class="description">
        <%= wrap(viewpoints_item.desc) %>
      </div>
      <span class="timestamp">
        updated <%= time_ago_in_words(viewpoints_item.updated_at) %> ago.
      </span>

      <div class="actions">
        <% if !viewpoints_item.published? %>
          <% if current_user?(viewpoints_item.debate.user) %>
            <div class="publish">
              <%= link_to "publish", publish_path(viewpoints_item), method: :put%>
            </div>
          <% end %>
        <% else %>
          <div class="voteup">
            <%= link_to "vote it up!", new_argument_path(viewpoint: viewpoints_item, is_up_vote: "") %>
            </div>
      
          <div class="votedown">
            <%= link_to "vote it down!", new_argument_path(viewpoint: viewpoints_item) %>
          </div>

          <div class="listview">
            <%= link_to "arguments", arguments_path(viewpoint: viewpoints_item) %>
          </div>
        <% end %>

        <% if current_user?(viewpoints_item.user) || current_user?(viewpoints_item.debate.user) || (current_user.admin? unless !signed_in?) %>
            <div class="delete">
              <%= link_to "delete", viewpoints_item, method:  :delete,
                                       confirm: "You sure?",
                                       title:   viewpoints_item.desc %>
            </div>
        <% end %>
      </div>
    </li>

    <br />


