<li>
  <span class="content"><%= debate.content %></span>
  <div class="timestamp">
    last updated <%= time_ago_in_words(debate.updated_at) %> ago.
  </div>
  
<%= render partial: 'shared/win_loss_positions', locals: {debate: debate} %>
    
  <div class="actions">
    
    <div class="listview">
      <%= link_to pluralize(debate.viewpoints.published.size, "vupnt"), debate_path(debate.id) %>
    </div>

    <% if current_user?(debate.user) %>
      
      <div class="invite">
        <%= link_to "invite a friend", invitation_path(debate) %>
      </div>

      <div class="delete">
        <%= link_to "delete", debate, method:  :delete,
                                     confirm: "You sure?",
                                     title:   debate.content %>
      </div>
    
    <% else %>
      <div class="follow">    
        <%= link_to "follow debate", '#' %>
      </div>                                         
    <% end %>
  
  </div>

  
  
</li>
<br />