<li>
  <span class="content"><%= debate.content %></span>
  <%= render 'shared/win_loss_positions' %>
  <div class="actions">
    <%= link_to "vupnts", debate_path(debate.id) %>
    <% if current_user?(debate.user) %>
      | <%= link_to "delete", debate, method:  :delete,
                                     confirm: "You sure?",
                                     title:   debate.content %>
    <% else %>
      | <%= link_to "follow debate", '#' %>                                         
    <% end %>
  </div>
  <span class="timestamp">
    last updated <%= time_ago_in_words(debate.updated_at) %> ago.
  </span>
  

</li>