<% if @debates %>
	<% if @debates.any? %>
		<div class="section-title">
			<%= @section_title %>
		</div>
		<ul class="debates">
			<% @debates.each do |debate|  %>
				<% cache "debate-index-#{debate.id}", debate.updated_at.to_i do %>
					<li>
						<div class="content">
							<%= debate.content%>
						</div>
						<div class="timestamp">
							 updated <%= time_ago_in_words(debate.updated_at) %> ago.
						</div>
						<div class="actions">
	    					<div class="listview">
	      						<%= link_to pluralize(debate.viewpoints.published.size, "vupnt"), debate_url(debate) %>
						    </div>
						</div>				
					</li>
					<br />
				<% end %>
			<% end %>
		</ul>

		<%= will_paginate @debates, page_links: false, class: "my_pagination" %>
	<% end %>
<% end %>

<%= render 'search' %>