<% cache "deb_inv-#{@debate.id}" do %>

	<div class="alert">
		<%= "#{@debate.content}" %>
	</div>

	<div class="section-title">
	invite a friend
	</div>
	
<% end %>


<%= form_for(@debate_invite) do |f|%>

	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :email, "friend's email id" %>
	<%= f.email_field :email, placeholder: "@" %>

	<%= f.label :message, "message (optional)" %>
	<%= f.text_area :message, rows: 3 %>
	<div class="field-desc">
		your optional message in 140 characters or less
	</div>

	<%= f.hidden_field :debate_id, value: @debate.id %>
	<%= f.hidden_field :sender_id, value: @debate.user.id %>

	<div class="row-fluid center">
		<%= f.submit "send", class: "btn btn-large btn-primary" %>
	</div>

<% end %>


<% if @debate_invites.any? %>
	<div class="section-title">
    	invitations sent to...
	</div>
  
  <ol class="debates">
    <%= render partial: 'shared/debate_invites_item', collection: @debate_invites %>
  </ol>
  <%= will_paginate @debate_invites, page_links: false, class: "my_pagination" %>

<% end %>
