
<div class="row-fluid">
	<div class="span1">
		<%= image_tag("debate.png")%>
	</div>
	<div class="span10">
		<div class="row-fluid">
			<div class="content">
				<b><%= @debate.content %></b>
			</div>
		</div>
		<div class="row-fluid">
			<div class="user">
				topic created by <%= link_to @debate.user.name, user_path(@debate.user)%>
			</div>
		</div>
	</div>
</div>


<%= render 'shared/viewpoints' %>

<% if current_user == @debate.user %>

	<!-- place holder for the vupoint form -->
	<%= render 'shared/viewpoint_form' %>
	
<% end %>