<div class="row-fluid">
	<div class="content">
		<b><%= @debate.content %></b>
	</div>
</div>
<% if signed_in? && current_user?(@debate.user) %>
	<div class="row-fluid">
		<div class="actions">
			<div class="invite">
				<%= link_to "invite a friend", invitation_path(@debate)%>
			</div>
			<div class="delete">
				<%= link_to "delete debate", @debate, method:  :delete, confirm: "You sure?", title: @debate.content %>
			</div>
		</div>
	</div>
<% else %>
	<div class="row-fluid">
		<h2><%= link_to @debate.user.name, user_path(@debate.user)%></h2>
	</div>
<% end %>

<div class="row-fluid">
	<div class="center">
		<span class='st_facebook_large' displayText='share'></span>
	</div>
</div>

<%= render 'shared/viewpoints' %>

<% if signed_in? %>
	<%= render 'shared/viewpoint_form', locals: {debate: @debate} %>
<% end %>