
<div class="row-fluid">
	<div class="span10">
		<div class="row-fluid">
			<div class="content">
				<b><%= @debate.content %></b>
			</div>
		</div>
		<div class="row-fluid">
			<% if signed_in? && current_user?(@debate.user) %>
				<div class="actions">
					<div class="invite">
						<%= link_to "invite a friend", invitation_path(@debate)%>
					</div>
					<div class="delete">
						<%= link_to "delete debate", @debate, method:  :delete,
                                     confirm: "You sure?",
                                     title:   @debate.content %>
					</div>
				</div>
			<% else %>
				<div class="user">
					<%= link_to @debate.user.name, user_path(@debate.user)%>
				</div>
			<% end %>
		</div>
		<div>
			<span class='st_facebook_hcount'></span>
			<span class='st_fblike_hcount'></span>
		</div>


	</div>
</div>


<%= render 'shared/viewpoints' %>

<% if signed_in? %>

	<!-- place holder for the vupoint form -->
	<%= render 'shared/viewpoint_form', locals: {debate: @debate} %>
	
<% end %>


