<div class="row-fluid">
	<div class="content">
		<b><%= @debate.content %></b>
	</div>
</div>
<% if signed_in? && current_user?(@debate.user) %>
	<div class="row-fluid">
		<div class="actions">
			<div class="invite">
				<%= link_to "invite a friend", invitation_path(@debate)%>
			</div>
			<div class="delete">
				<%= link_to "delete debate", @debate, method:  :delete, confirm: "You sure?", title: @debate.content %>
			</div>
		</div>
	</div>
<% else %>
	<div class="row-fluid">
		<h2><%= link_to @debate.user.name, user_path(@debate.user)%></h2>
	</div>
<% end %>

<div class="row-fluid">
	<div class="center">
		<span class='st_facebook_large'></span>
		<span class='st_twitter_large'></span>
	</div>
</div>

<div class="row-fluid">
	<%= render 'shared/viewpoints' %>
</div>

<% if signed_in? %>
	<div class="section-title">
		what's your vupnt?
	</div>

	<%= form_for(@viewpoint) do |f| %>

	    <div class="row-fluid">
	    	<%= f.text_field :desc, placeholder: "in 140 characters or less...", rows: 2 %>
	    </div>
		
		<%= f.hidden_field :debate_id, value: @debate.id %>
	 	<%= f.hidden_field :user_id, value: current_user.id %>
	 	
	  	<% if @current_user_can_add %>
	  		<%= f.hidden_field :published, value: true %>
		<% else %>
			<%= f.hidden_field :published, value: false %>
		<% end %>
		<div class="row-fluid">
			<div class="center">
				<%= f.submit "share", class: "btn btn-large btn-primary" %>
			</div>
		</div>

	<% end %>

<% end %>
