
<% if signed_in? %>
  <div class="header">
    hello <%= link_to current_user.name.downcase, current_user%>! start a new debate-
  </div>
  <section>
    <%= render 'shared/debate_form' %>
  </section>
<% else %>
<div class="center">
  	<h1>
  		your view counts!
  	</h1>
  	<h2>
  		what's your view? say. share. discuss.  
  	</h2>
	<%= link_to "sign up", signup_path, class: "btn btn-large btn-primary" %>

  	<%= link_to "sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>

<div>
<h3>people you follow are discussing...</h3>
<%= render 'shared/feed' %>
</div>


  
