
<% if signed_in? %>
  <div class="content">
    hello <%= link_to current_user.name.downcase, current_user%>! start a <a href="#new_debate_form">new debate</a>, or check out what others are debating...
  </div>

  <div>
    <%= render 'shared/feed' %>
  </div>

  <div id="new_debate_form">
    <%= render 'shared/debate_form' %>
  </div>

  <div class="section-title">
    more stuff...
  </div>
  <h3><%= link_to "people to follow", users_path %></h3>
  <h3><%= link_to "search topics", '#' %></h3>
    

<% else %>
<div class="center">
  	<h1>
  		your view counts!
  	</h1>
  	<h2>
  		what's your view? say. share. discuss.  
  	</h2>
	<%= link_to "sign up", signup_path, class: "btn btn-large btn-primary" %>

  	<%= link_to "sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>

  
