
<div id="top">
</div>
<% if signed_in? %>
  <% if @has_new_notifications %>
    <div>
      <h2>
        hello <%= current_user.name.downcase%>! you have <%= link_to "new notifications", notifications_path(current_user) %><%= image_tag("alert.png")%>
      </h2>
    </div>
  <% else %>
    <div>
      <h2>
        hello <%= current_user.name.downcase%>!
      </h2>
    </div>
  <% end %>

  
  <div class="content">
    <small>
      start a <a href="#new_debate_form">new conversation</a>, or check out some recent ones. and there's <a href="#more_menu">more</a>...
    </small>
  </div>

  <div>
    <%= render 'shared/feed' %>
  </div>

  <div id="new_debate_form">
    <%= render 'shared/debate_form' %>
  </div>

  <% cache "more-stuff-home" do %>
    <div class="section-title", id="more_menu">
      more stuff...
    </div>

    <h2><%= link_to "notifications", notifications_url %> | <%= link_to "conversations", debates_path %> | <%= link_to "people", users_path %> | <%= link_to "invite a friend", new_invitation_path %></h2>
    <hr />

    <h2><a href="#top">top of page</a></h2>
  <% end %>      

<% else %>

<% cache "sign-up-sign-in" do %>

  <div class="center" id="sign">
    	<h1>
    		your view counts!
    	</h1>
    	
      <h2>
    		what's your view? say. share. discuss.  
    	</h2>
      
      <%= link_to "sign up", signup_path, class: "btn btn-large btn-primary" %>

    	<%= link_to "sign in", signin_path, class: "btn btn-large btn-primary" %>

  </div>
<% end %>

<div>
    <%= render 'shared/feed' %>
</div>

<div>
  <h2>
    <a href="#sign">start</a> your own conversation!
  </h2>
</div>



  
<% end %>

