
<div id="top">
</div>
<% if signed_in? %>
  <% if @has_new_notifications %>
    <div>
      <h2>
        hello <%= current_user.name.downcase%>! you have <%= link_to "new notifications", notifications_path(current_user) %><%= image_tag("alert.png")%>
      </h2>
    </div>
  <% else %>
    <div>
      <h2>
        hello <%= current_user.name.downcase%>!
      </h2>
    </div>
  <% end %>

  
  <div id="new_debate_form">
    <%= render 'shared/debate_form' %>
  </div>

  <div class="content">
    <small>
      or, check out some recent debates. and there's <a href="#more_menu">more</a>...
    </small>
  </div>

  <div>
    <%= render 'shared/feed' %>
  </div>
  
  <div class="section-title", id="more_menu">
    more stuff...
  </div>
  <% unless @has_new_notifications %>
    <h2><%= link_to "notifications", notifications_url %></h2>
  <% end %>
  <h2><%= link_to "people to follow", users_path %></h2>
  <h2><%= link_to "debates to follow", debates_path %></h2>
  <h2><a href="#top">back to top</a></h2>
    

<% else %>
<div class="center">
  	<h1>
  		your view counts!
  	</h1>
  	<h2>
  		what's your view? say. share. discuss.  
  	</h2>
	<%= link_to "sign up", signup_path, class: "btn btn-large btn-primary" %>

  	<%= link_to "sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>

<div>
    <%= render 'shared/feed' %>
</div>
  
<% end %>


  
