
<div id="top">
</div>
<% if signed_in? %>
  <div id="new_debate_form">
    <%= render 'shared/debate_form' %>
  </div>

  <div class="content">
    <small>
      check out what others are debating. and there's <a href="#more_menu">more</a>...
    </small>
  </div>

  <div>
    <%= render 'shared/feed' %>
  </div>
  
  <div class="section-title", id="more_menu">
    more stuff...
  </div>
  <h3><%= link_to "notifications", notifications_path(current_user) %></h3>
  <h3><%= link_to "people to follow", users_path %></h3>
  <h3><%= link_to "search topics", '#' %></h3>
  <h3><a href="#top">back to top</a></h3>
    

<% else %>
<div class="center">
  	<h1>
  		your view counts!
  	</h1>
  	<h2>
  		what's your view? say. share. discuss.  
  	</h2>
	<%= link_to "sign up", signup_path, class: "btn btn-large btn-primary" %>

  	<%= link_to "sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>

<div>
    <%= render 'shared/feed' %>
</div>
  
<% end %>


  
