<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "mobile" if mobile_device? %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <header class="navbar-fixed-top container-float">
    

          <%= link_to "vupoint", root_path, id: "logo" %>
    
  </header>
  <div class="container-float">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>