<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "mobile" if mobile_device? %>
  <%= javascript_include_tag "application" %>
  <meta name="HandheldFriendly" content="True"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <% cache "share-this-script" do %>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    stLight.options({
      publisher: "a66dd7f9-95a1-4b89-a7b8-5d229f4d44af"
      });
  </script>
  <% end %>
  
</head>
<body>


<header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          
          <%= link_to "VUpnt", root_path, class: "brand" %>

          <% if signed_in? %>
            <div class="btn-group pull-right">
              <%= link_to "my profile", user_path(current_user), class: "btn btn-primary" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </header>



  <div class="container-fluid">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
